@tailwind base;
@tailwind components;
@tailwind utilities;

#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}

.skrift_editor {
  @apply bg-blue-500 w-52 h-52 rounded-xl;
}
